@import 'foundation';
@import 'fonts';

* {
  margin: 0;
}

html, body {
  height: 100%;
}

h1 {
  font-family: 'Comfortaa-Regular', Arial, sans-serif;
  font-size: 48px;
}

h3 {
  font-size: 21px;
}

a {
  color: #FF2A68;
}

section {
  padding: 20px 0px;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -4em;
}

footer, .push {
  height: 4em;
}

footer {
  background: #000;
  color: #8E8E93;
  font-size: 11px;
  text-transform: uppercase;
  padding: 5em 5em 8em 5em;
}

button {
  background: #FF2A68;
}

#products li {
  width: 366px;
  min-height: 160px;
  background: #F2F2F2;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  margin: 5px;
  padding: 8px 16px;
  zoom: 1;
  *display: inline;
  _height: 160px;
}

.hero {
  text-align: center;
  background: #D6CEC3;
}
