<template name="settings">
  <h1>Store Settings for {{ store.name }}</h1>
  <h2>Calorie Limit</h2>
    {{> setLimit}}
  <h2>Privileges</h2>
    {{#each users}}
      {{> setRank}}
    {{/each}}
</template>

<template name="setLimit">
  Set a calorie limit. If this limit is exceeded in a shopping cart, customers will receive a warning that they could be making an unhealthy choice.
  <form>
    <fieldset>
      <label>
        <span>Set Limit</span>
        <input name="limit" type="number" min="0">
      </label>
      <button class="submit">Submit</button>
    </fieldset>
  </form>
  Calorie Limit: {{ store.calorieLimit }}
</template>

<template name="setRank">
  <h3>{{profile.email}}</h3>
    Current Title: 
    {{#if profile.isOwner}} Store Owner {{/if}}
    {{#if profile.isKitchen}} Kitchen Staff {{/if}}
    {{#if profile.isClerk}} Front Desk Clerk {{/if}}
    {{#if profile.isManager}} Manager {{/if}}
    <form>
      <fieldset>
        <label class="rank">
          <legend>Set User Status</legend>
          <select name="rank" size=3>
            <option name="isCustomer" value=0>Customer Only</option>
            <option name="isKitchen" value=1>Kitchen Staff</option>
            <option name="isClerk" value=2>Front Desk Clerk</option>
            <option name="isManager" value=3>Manager</option>
          </select>
        </label>
        <button type="submit">Set</button>
      </fieldset>
    </form>
</template>