<template name="settings">
  <h1>Store Settings for {{ store.name }}</h1>
  <h2>Calorie Limit</h2>
    {{> setLimit}}
  <h2>Privileges</h2>
    {{#each users}}
      {{> setPrivileges}}
    {{/each}}
</template>

<template name="setLimit">
  Set a calorie limit. If this limit is exceeded in a shopping cart, customers will receive a warning that they could be making an unhealthy choice.
  <form>
    <fieldset>
      <label>
        <span>Set Limit</span>
        <input name="limit" type="number" min="0">
      </label>
      <button class="submit">Submit</button>
    </fieldset>
  </form>
  Calorie Limit: {{ store.calorieLimit }}
</template>

<template name="setPrivileges">
  <h3>{{profile.email}}</h3>
</template>