<template name="cart" >
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <script type="text/javascript">Stripe.setPublishableKey('pk_test_jnIrg93sCpLc8tXMzgE14wLM');</script>
    <section onmousemove="move(event)">
    <section class="hero" id="win">
      <script> function move(e) {
    var x = e.clientX;
    var y = e.clientY;
    var time = new Date();
    var xSpot = {{discount2 x}};
          console.log("xSpot:",xSpot);
    var ySpot = {{discount y}};
          console.log("ySpot:",ySpot);
          console.log("position:",x,y);
    //fv v vvar ySpot = {{discount y}}
    if(x >= xSpot && x &lt; (xSpot + 150) && y>= ySpot && y&lt; (ySpot + 150))
    {
        console.log("WINNER");
        document.getElementById("win").innerHTML = "YOU WON!";
    }
}
      </script>
    <div class="row">
      <h1>Cart</h1>
    </div>
  </section>
  <section>
    <div class="row">
      <h2>{{_ "menu"}} ({{ store.name}})</h2>
      <ul>
        {{#each products}}
          {{> addToMyCart}}
        {{/each}}
      </ul>
      <h2>{{_ "cart"}} ({{userIdentity currentUser._id}})</h2>
      <h2>{{_ "Points"}} ({{currentUser.points}})</h2>
      <ul>
        {{#each carts}}
          {{> removeFromCart}}
        {{/each}}
      </ul>
      <h2>{{_ "totalPrice"}}: ${{myTotal store._id currentUser._id}}</h2>
      {{> carryOrDelivery}}
      {{> cash}}
        {{> game}}
      {{#if cardPayment}}
        {{> cash}}
      {{else}}
        {{> stripe}}
      {{/if}}
    </div>
  </section>
    </section>
</template>

<template name="game">
    <div>
        Try to win a discount! Click "Play!" for a chance to win 10% off your order. Try to find the hidden discount on the page by moving your cursor around the page within 10 seconds!
    </div>
    <button class="play" onclick="setTimeout(function(){alert('Times Up')},10000);">Play!</button>
</template>

<template name="addToMyCart">
  <button class="product">
    <span>{{name}}</span>
  </button>
</template>

<template name="removeFromCart">
    {{#if complete}}
  <button class="remove">
    <span>{{myItem}}</span>
  </button>
    {{/if}}
</template>

<template name="carryOrDelivery">
  <label>
    <input type="checkbox" class="deliver" checked>
    {{_ "deliverOrder"}}
  </label>
</template>

<template name="cash">
    <label>
        <input type="checkbox" class="cash">
        {{_ "Cash Payment"}}
    </label>
</template>

<template name="cashPayment">
  <button type="submit">{{_ "placeOrder"}}</button>
</template>

<template name="stripe">
    <form action="" method="POST" id="payment-form">
        <span class="payment-errors"></span>

        <div class="form-row">
            <label>
                <span>Card Number</span>
                <input type="text" size="20" data-stripe="number"/>
            </label>
        </div>

    <div class="form-row">
      <label>
        <span>{{_ "cardNumber"}}</span>
        <input type="text" size="20" data-stripe="number"/>
      </label>
    </div>
    <div class="row">
      <div class="small-4 columns">
        <label>
        <span>{{_ "cvc"}}</span>
        <input type="text" size="2" data-stripe="cvc"/>
      </label>
      </div>
      <div class="small-4 columns">
        <label>
          <span>{{_ "expirationMM"}}</span>
          <input type="text" size="2" data-stripe="exp-month"/>
        </label>
      </div>
      <div class="small-4 columns">
        <label>
          <span>{{_ "expirationYYYY"}}</span>
          <input type="text" size="2" data-stripe="exp-year"/>
        </label>
      </div>
    </div>

    <button type="submit">{{_ "placeOrder"}}</button>
  </form>
</template>

<template name="x">
            <h1><a href="{{ pathFor 'game' _id=this.store._id}}">{{ this.store.name }}</a></h1>
</template>

<template name="Mymove">

</template>
