<template name="store">
  <section class="hero">
    <div class="row">
      <h1>Store: {{ store.name }}</h1>
      <a href="{{pathFor 'reviews' _id=this.store._id}}">{{_ "reviews"}}</a>
      {{#if ownerCheck store._id currentUser._id}}
         - <a href="{{pathFor 'settings' _id=this.store._id}}">Settings</a>
      {{/if}}
    </div>
  </section>
  <section id="signOut">
    <div class="row">
      {{#if currentUser}}
        {{> signOut}}
      {{/if}}
    </div>
  </section>
  <section id="products">
    <div class="row">
      <h2>Products</h2>
      <ul>
        {{#each products}}
          {{> product}}
        {{/each}}
      </ul>
    </div>
  </section>
</template>

