<template name="createAccount">
  <form>
    <fieldset>
      <legend>{{_ "createAccount"}}</legend>
      <label class="email">
        <span>{{_ "emailAddress"}}</span>
        <input name="email" placeholder="{{_ "emailAddress"}}" type="email">
      </label>
      <label class="password">
        <span>{{_ "password"}}</span>
        <input name="password" placeholder="{{_ "password"}}" type="password">
      </label>
      <label class="storeOption">
        <span>Store Option</span>
        <select name="storeOption" size=3>
        <option name=one value=one> one </option>
        <!-- {{#each stores}}
          <option name=two value=two> two </option>
        {{/each}} -->
        </select>
      </label>
      <label class="storeName">
        <span>{{_ "storeName"}} - When creating a non-owner account in a store, LEAVE THIS BLANK. Instead, pick a storefront from the list above. Otherwise, you will be creating a new storefront.</span>
        <input name="storeName" placeholder="{{_ "storeName"}}" type="text">
      </label>
      <button type="submit">{{_ "createAccount"}}</button>
      {{> alert}}
    </fieldset>
  </form>
</template>

<template name="signIn">
  <form>
    <fieldset>
      <legend>{{_ "signIn"}}</legend>
      <label class="email">
        <span>{{_ "emailAddress"}}</span>
        <input name="email" placeholder="{{_ "emailAddress"}}" type="email">
      </label>
      <label class="password">
        <span>{{_ "password"}}</span>
        <input name="password" placeholder="{{_ "password"}}" type="password">
      </label>
      <button type="submit">{{_ "signIn"}}</button>
    </fieldset>
  </form>
</template>

<template name="signOut">
  <form>
    <fieldset>
      <legend>{{_ "signOut"}}: {{userIdentity currentUser._id}}</legend>
      <button type="submit">{{_ "signOut"}}</button>
    </fieldset>
  </form>
</template>

<template name="alert">
  <span>{{alert}}</span>
</template>
